/* CONFIGURACIONES DE ESTILO PARA EL SLIDER -----------------------------------------------------------*/

.nca_carousel_sesiones_hija.col {
    font-family: Arial black;
    text-align: center;
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    background-color: lightgray;
    flex-basis: unset;
    padding: 0px;
}

.nca_carousel_sesiones_hija.col:first-child {
    border-left: none;
}

.nca_carousel_sesiones_hija.col:last-child {
    border-right: none;
}

.carousel.row {
    margin-left: 0px;
    margin-right: 0px;
}

.carousel-sesiones.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
}

.carousel-indicators {
    bottom: 0px;
    margin: 0px;
    background-color: lightgray;
    position: relative;
}

.carousel-indicators .col {
    background-color: white;
    margin-right: 2px;
    margin-left: 2px;
    font-family: arial;
    color: darkgray;
    text-align: center;
    padding: 0px;
    cursor: pointer;
}

.carousel-indicators .col.active {
    background-color: lightgray;
    color: white;
}

.carousel-indicators .col:first-child {
    margin-left: 4px;
}

.carousel-indicators .col:last-child {
    margin-right: 4px;
}

.nca_book_activ_eval {
    text-decoration: underline;
    font-weight: 900;
}

.slider-vue.carousel-item.row {
    display: flex;
    width: 100%;
}

.carousel-item,
.nca_book_slide,
.nca_book_slide_vue {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.carousel-item {
    height: 100%
}

.nca_book_orden .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nca_book_orden h2, .nca_book_orden h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5vw;
}

.nca_book_recursos {
    height: 100%
}

.nca_book_recursos .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nca_book_proyecto_1,
.nca_book_slide,
.nca_book_slide_vue {
    background: white;
    height: 100%;
    width:100%;
}

.nca_book_proyecto_1::before,
.nca_book_slide::before,
.nca_book_slide_vue::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 34%;
}

.nca_book_proyecto_1::after,
.nca_book_slide::after,
.nca_book_slide_vue::after {
    content: "";
    display: table;
    clear: both;
}

.carousel-inner {
    margin-top: 20px;
    min-height: 28vw;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    margin: 5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1.25vw;
    height: 1.25vw;
    cursor: pointer;
}

.nca_book_orden {
    padding: 0px;
}

.nca_book_orden .row {
    margin-top: 15px;
}

.nca_book_orden .col-md-3,
.nca_book_orden .col-md-6 {
    padding: 0px;
}

.nca_book_recursos {
    border-radius: opx;
}

.carousel .col-md-12 {
    font-family: arial;
    text-align: left !important;
}

.nca_book_slide .col-md-4,
.nca_book_slide_vue .col-md-4 {
    padding-right: 0px !important;
}

.nca_book_recursos .row {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: white;
    font-family: arial;
}

.nca_book_recursos_col_short a {
    left: auto;
    right: 15%;
}

.nca_book_recursos .row:last-child {
    border-bottom: none;
}

.nca_book_recursos_col_long ul {
    list-style: none !important;
    padding-left: 0px !important;
}

.nca_book_recursos {
    border-radius: 0px;
}


/* elementos genearales de estilo de visualización de los libros de NCA--------------------------------------*/

.nca_book_orden {
    display: block;
}

.nca_book_orden h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.nca_book_titulo {
    padding: 0px;
}

.nca_book_titulo h1 {
    display: block;
}

.nca_book_descripcion {
    display: block;
    text-align: left;
}

.nca_book_descripcion_imagen_s {
    Width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Max-width: 150px;
    text-align: center;
}

.nca_book_descripcion_imagen_m {
    Width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Max-width: 300px;
    text-align: center;
}

.nca_book_descripcion_imagen_l {
    Width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nca_book_recursos {
    padding: 1.5em;
}

.nca_book_recursos_img {
    Width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nca_book_recursos_col_short a {
    position: absolute;
    top: -5%;
    left: 25%;
    opacity: 0.2;
    font-size: 1.5em;
    color: white;
    text-align: end;
}

.nca_book_recursos_col_short a:not([href]) {
    opacity: 0.2;
    text-decoration: none;
    color: white;
}

.nca_book_recursos_col_short a:not([href]):hover {
    opacity: 0.2;
    text-decoration: none;
    color: white;
}

.nca_book_recursos_col_short a[href] {
    opacity: 1;
    text-decoration: none;
    color: white;
}

.nca_book_recursos_col_short a[href]:hover {
    opacity: 0.75;
    text-decoration: none;
    color: white;
}

.nca_book_recursos_col_short a[href]:visited {
    opacity: 1;
    text-decoration: none;
}

.nca_book_recursos_col_long {
    Width: 80%;
}

.nca_book_recursos_col_short {
    Position: relative;
    Width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
}

.nca_book_recursos_lista_link a:link {
    text-decoration: none;
    font-weight: bold;
}

.nca_book_recursos_lista_link a:hover {
    font-weight: bold;
}

.nca_book_recursos_lista_nolink a:visited {
    text-decoration: none;
    font-weight: bold;
}

.nca_book_recursos_lista {
    display: block;
}

.nca_book_cuad_img {
    padding-top: 1em;
    width: 88%;
}

.nca_book_cuad_img img {
    width: 100%;
}

.nca_book_cuad_col {
    padding-top: 1em;
    width: 12%;
}


/* elementos asociados a un color de los libros de NCA-------------------------------------------------------*/

.nca_book_acogida_1 .nca_book_orden {
    background-color: rgb(166, 202, 236);
}

.nca_book_acogida_1 .nca_book_recursos {
    background-color: rgb(191, 227, 255);
}

.nca_book_proyecto_1 .nca_book_orden {
    background-color: rgb(231, 18, 124);
}

.nca_book_proyecto_1 .nca_book_recursos {
    background-color: rgba(231, 18, 124, 0.5);
}

.nca_book_proyecto_2 .nca_book_orden {
    background-color: rgb(81, 175, 65);
}

.nca_book_proyecto_2 .nca_book_recursos {
    background-color: rgba(81, 175, 65, 0.5);
}

.nca_book_proyecto_3 .nca_book_orden {
    background-color: rgb(241, 133, 28);
}

.nca_book_proyecto_3 .nca_book_recursos {
    background-color: rgba(241, 133, 28, 0.5);
}

.nca_book_proyecto_4 .nca_book_orden {
    background-color: rgb(110, 67, 35);
}

.nca_book_proyecto_4 .nca_book_recursos {
    background-color: rgba(110, 67, 35, 0.5);
}

.nca_book_proyecto_5 .nca_book_orden {
    background-color: rgb(90, 43, 134);
}

.nca_book_proyecto_5 .nca_book_recursos {
    background-color: rgba(90, 43, 134, 0.5);
}

.nca_book_proyecto_6 .nca_book_orden {
    background-color: rgb(143, 146, 144);
}

.nca_book_proyecto_6 .nca_book_recursos {
    background-color: rgba(143, 146, 144, 0.5);
}

.nca_book_proyecto_7 .nca_book_orden {
    background-color: rgb(192, 211, 80);
}

.nca_book_proyecto_7 .nca_book_recursos {
    background-color: rgba(192, 211, 80, 0.5);
}

.nca_book_proyecto_8 .nca_book_orden {
    background-color: rgb(32, 103, 54);
}

.nca_book_proyecto_8 .nca_book_recursos {
    background-color: rgba(32, 103, 54, 0.5);
}

.nca_book_proyecto_9 .nca_book_orden {
    background-color: rgb(194, 27, 45);
}

.nca_book_proyecto_9 .nca_book_recursos {
    background-color: rgba(194, 27, 45, 0.5);
}

.nca_book_proyecto_10 .nca_book_orden {
    background-color: rgb(183, 158, 203);
}

.nca_book_proyecto_10 .nca_book_recursos {
    background-color: rgba(183, 158, 203, 0.5);
}

.nca_book_proyecto_11 .nca_book_orden {
    background-color: rgb(74, 157, 215);
}

.nca_book_proyecto_11 .nca_book_recursos {
    background-color: rgba(74, 157, 215, 0.5);
}

.nca_book_proyecto_12 .nca_book_orden {
    background-color: rgb(43, 58, 140);
}

.nca_book_proyecto_12 .nca_book_recursos {
    background-color: rgba(43, 58, 140, 0.5);
}

.nca_book_seminario_ing .nca_book_orden {
    background-color: rgb(183, 20, 82);
}

.nca_book_seminario_ing .nca_book_recursos {
    background-color: rgb(233, 70, 132);
}

.nca_book_seminario_fra .nca_book_orden {
    background-color: rgb(225, 128, 118);
}

.nca_book_seminario_fra .nca_book_recursos {
    background-color: rgb(255, 178, 158);
}

.nca_book_seminario_cof .nca_book_orden {
    background-color: rgb(202, 158, 103);
}

.nca_book_seminario_cof .nca_book_recursos {
    background-color: rgb(252, 208, 153);
}

.nca_book_seminario_cas .nca_book_orden {
    background-color: rgb(236, 179, 127);
}

.nca_book_seminario_cas .nca_book_recursos {
    background-color: rgba(236, 179, 127, 0.85);
}

.nca_book_seminario_mat .nca_book_orden {
    background-color: rgb(243, 146, 0);
}

.nca_book_seminario_mat .nca_book_recursos {
    background-color: rgb(255, 196, 50);
}

.nca_book_seminario_ccnn .nca_book_orden {
    background-color: rgb(63, 165, 53);
}

.nca_book_seminario_ccnn .nca_book_recursos {
    background-color: rgb(133, 235, 123);
}

.nca_book_seminario_ccss .nca_book_orden {
    background-color: rgb(40, 53, 131);
}

.nca_book_seminario_ccss .nca_book_recursos {
    background-color: rgb(120, 133, 211);
}

.nca_book_seminario_leng .nca_book_orden {
    background-color: rgb(117, 97, 87);
}

.nca_book_seminario_leng .nca_book_recursos {
    background-color: rgb(187, 167, 157);
}

.nca_book_taller_inter .nca_book_orden {
    background-color: rgb(205, 23, 23);
}

.nca_book_taller_inter .nca_book_recursos {
    background-color: rgb(255, 123, 123);
}

.nca_book_taller_ere .nca_book_orden {
    background-color: rgb(239, 179, 175);
}

.nca_book_taller_ere .nca_book_recursos {
    background-color: rgb(255, 209, 205);
}

.nca_book_taller_evl .nca_book_orden {
    background-color: rgb(117, 97, 87);
}

.nca_book_taller_evl .nca_book_recursos {
    background-color: rgba(117, 97, 87, 0.5);
}

.nca_book_taller_ef .nca_book_orden {
    background-color: rgb(0, 159, 227);
}

.nca_book_taller_ef .nca_book_recursos {
    background-color: rgb(130, 209, 255);
}

.nca_book_taller_mus .nca_book_orden {
    background-color: rgb(120, 62, 144);
}

.nca_book_taller_mus .nca_book_recursos {
    background-color: rgb(220, 162, 244);
}

.nca_book_taller_wkp .nca_book_orden {
    background-color: rgb(83, 175, 88);
}

.nca_book_taller_wkp .nca_book_recursos {
    background-color: rgb(103, 195, 108);
}

.nca_book_taller_pla .nca_book_orden {
    background-color: rgb(250, 186, 74);
}

.nca_book_taller_pla .nca_book_recursos {
    background-color: rgba(250, 186, 74, 0.5);
}

.nca_book_cierre_1 .nca_book_orden {
    background-color: rgb(155, 155, 155);
}

.nca_book_cierre_1 .nca_book_recursos {
    background-color: rgb(225, 225, 225);
}

.nca_color_gris {
    background-color: rgb(219, 219, 219);
}

.nca_color_acog {
    background-color: rgb(166, 202, 236);
}

.nca_color_proy1 {
    background-color: rgb(231, 18, 124);
}

.nca_color_proy2 {
    background-color: rgb(81, 175, 65);
}

.nca_color_proy3 {
    background-color: rgb(241, 133, 28);
}

.nca_color_proy4 {
    background-color: rgb(110, 67, 35);
}

.nca_color_proy5 {
    background-color: rgb(90, 43, 134);
}

.nca_color_proy6 {
    background-color: rgb(143, 146, 144);
}

.nca_color_proy7 {
    background-color: rgb(192, 211, 80);
}

.nca_color_proy8 {
    background-color: rgb(32, 103, 54);
}

.nca_color_proy9 {
    background-color: rgb(194, 27, 45);
}

.nca_color_proy10 {
    background-color: rgb(183, 158, 203);
}

.nca_color_proy11 {
    background-color: rgb(74, 157, 215);
}

.nca_color_proy12 {
    background-color: rgb(43, 58, 140);
}

.nca_color_ing {
    background-color: rgb(183, 20, 82);
}

.nca_color_fra {
    background-color: rgb(225, 128, 118);
}

.nca_color_cof {
    background-color: rgb(202, 158, 103);
}

.nca_color_cas {
    background-color: rgb(236, 179, 127);
}

.nca_color_mat {
    background-color: rgb(243, 146, 0);
}

.nca_color_ccnn {
    background-color: rgb(63, 165, 53);
}

.nca_color_ccss {
    background-color: rgb(40, 53, 131);
}

.nca_color_leng {
    background-color: rgb(117, 97, 87);
}

.nca_color_inter {
    background-color: rgb(205, 23, 23);
}

.nca_color_ere {
    background-color: rgb(239, 179, 175);
}

.nca_color_ef {
    background-color: rgb(0, 159, 227);
}

.nca_color_mus {
    background-color: rgb(120, 62, 144);
}

.nca_color_cierre {
    background-color: rgb(155, 155, 155);
}

.nca_color_evl {
    background-color: rgb(117, 97, 87);
}


/* Ocultar el separador de slides en vista normal----------------------------------------------------------*/

.nca_book_separador {
    display: none;
}


/* CONFIGURACIONES DE ESTILO PARA PONER EL BLOQUE FIJO A LA IZQUIERDA -----------------------------------------------------------*/

.breadcrumb {
    display: none;
}

#app,
#nca13_mnu_ctrl {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}

#app-ltrl {
    width: 285px;
    position: fixed;
    left: 0px;
    top: 38px;
    height: calc(100% - 38px);
    background: lightgray;
    z-index: 1;
    padding: 20px;
    color: white;
    box-shadow: 3px 1px 5px rgb(0 0 0 / 40%);
}

#page {
    position: absolute;
    width: calc(100% - 285px);
    right: 0px;
}

.blockpanelbtn {
    display: none;
}

#page-footer {
    display: none;
}

#region-main-box {
    margin-top: -42px;
}

.single-section .sectionname, #page-header .mr-auto {
    display: none;
}

/* CONFIGURACIONES DE ESTILO PARA LA NUEVA VERSIÓN DE MOODLE -----------------------------------------------------------*/

#page-header .mr-auto {
    display:none;
}

#region-main {
    border: none;
    padding: 0px;
}

#page-header div.card {
    border: none;
}

/* FIN DE CONFIGURACIONES DE ESTILO PARA LA NUEVA VERSIÓN DE MOODLE -----------------------------------------------------------*/

.single-section .ishidden {
    display: none;
}

.teacherdash a.btn-primary {
	margin-right: 4px;
	background-color: lightgray;
	border: none;
  	margin-bottom: -70px;
  	 margin-top: 10px;
}

.course-content li.section ul {
	margin: 0px;
}

.section .label .contentwithoutlink {
	padding-right: 0px;
}

.section .label .mod-indent-outer {
	padding-left: 0px;
}


/* ESTILO DEL MENU LATERAL -----------------------------------------------------------*/

#nca13_mnu_logo div {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.nca13_mnu_ltrl {
    padding-right: 10px;
    background-color: lightgray;
    padding-left: 10px;
    overflow-x: hidden;
}

#nca13_mnu_icon {
    padding-right: 5px;
    padding-left: 5px;
}

.nca13_mnu_icon_btn {
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

#nca13_mnu_btn {
    margin-right: 0px;
    margin-left: 0px;
}

.nca13_mnu_btn_elem {
    padding: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-family: arial;
    padding-top: 5px;
    cursor: pointer;
    max-height: 2em;
    overflow: hidden;
}

.nca13_mnu_btn_elem a {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									  supported by Chrome and Opera */
}

.nca13_mnu_btn_elem:hover {
    color: white;
}

.nca13_mnu_tit_text {
    margin-top: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
    font-family: "arial black";
}

.nca13_mnu_list_rec {
    overflow-y: auto;
    max-height: calc(100vh - 440px);
}

::-webkit-scrollbar {
    width: 4px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155); 
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130); 
  }

.nca13_mnu_list_rec .list-group-item {
    background-color: lightgray;
    border: none;
    border-bottom: 2px solid white;
    padding: 0.75rem;
    cursor:pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 3rem;
}

.nca13_mnu_list_rec .list-group-item:last-child {
    border-bottom: 2px solid white !important;
}

.nca13_mnu_list_rec li span {
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									  supported by Chrome and Opera */
}

#nca13_mnu_ctrl {
    padding-right: 10px;
    padding-left: 10px;
    overflow-x: hidden;
}

.nca13-mnu-ctrl-mas {
    max-width: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.nca13-mnu-ctrl-mas h2 {
    font-weight: bolder;
    font-size: 3em;
    padding-top: 150%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									  supported by Chrome and Opera */
}

.nca13-mnu-ctrl-tit {
    color: white;
    background-color: lightgray;
}

.nca13-mnu-ctrl-tit .titulo {
    position: absolute;
    bottom: 0px;
}

#nca13-mnu-subtitulo {
    font-weight: bolder;
    font-size: 1.5em;
}

#nca13-mnu-titulo {
    font-weight: bolder;
    font-size: 2.5em;
}

.nca13-mnu-ctrl-icon {
    max-width: 160px;
    background-color: lightgray;
    padding-top: 4px;
}

.nca13-mnu-ctrl-recursos-elem {
    margin: 10px;
}

#nca13-mnu-ctrl-interactivas div {
    background-size: 100% 100%;
    width: 4rem;
    height: 4rem;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 1.25rem;
}

#nca13-mnu-ctrl-interactivas {
    min-height: 64px;
}


/* ELEMENTOS DE ASPECTO DE LA INTRO -----------------------------------------------------------*/

#nca13_mnu_intro {
    position: fixed;
    z-index: 999;
    background-color: white;
    right: 0px;
    width: calc(100% - 291px);
    top: 38px;
    height: calc(100% - 38px);
    max-width: unset;
}

.centrador {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: calc(50% + 170px);
    margin-top: -50px;
    margin-left: -300px;
}

.itemGroup {
    width: 100px;
    height: 100px;
    margin: 5px;
    overflow: hidden;
    display: inline-block;
}

.item {
    margin-top: 0px;
    user-select: none;
    animation: slide 8s infinite ease-in-out forwards;
}

.item p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0;
    margin: 0;
}

.itemGroup {
    background-color: rgb(205, 204, 204);
}

.itemGroup .item {
    animation-duration: 8000ms;
    animation-delay: 100ms;
}

.parte2 h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0;
    margin: 0;
    color: lightgray;
}

.parte2 p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: lightgray;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0px, 0);
    }
    14% {
        transform: translate3d(0, -100px, 0);
    }
    28% {
        transform: translate3d(0, -200px, 0);
    }
    43% {
        transform: translate3d(0, -300px, 0);
    }
    57% {
        transform: translate3d(0, -400px, 0);
    }
    71% {
        transform: translate3d(0, -500px, 0);
    }
    86% {
        transform: translate3d(0, -600px, 0);
    }
    100% {
        transform: translate3d(0, -700px, 0);
    }
}

@-moz-keyframes slide {
    0% {
        -moz-transform: translate3d(0, 0px, 0);
    }
    14% {
        -moz-transform: translate3d(0, -100px, 0);
    }
    28% {
        -moz-transform: translate3d(0, -200px, 0);
    }
    43% {
        -moz-transform: translate3d(0, -300px, 0);
    }
    57% {
        -moz-transform: translate3d(0, -400px, 0);
    }
    71% {
        -moz-transform: translate3d(0, -500px, 0);
    }
    86% {
        -moz-transform: translate3d(0, -600px, 0);
    }
    100% {
        -moz-transform: translate3d(0, -700px, 0);
    }
}